{# @var Model \rednaoeasycalculationforms\core\Managers\HTMLGenerator\HTMLParsers\Core\ParserWithMarks #}

{% set linkData = Model.GetLinkData %}

{% if linkData is not null %}
    <a style="{{ Model.GetStyles }}" href="{{ linkData.href }}" target="{{ linkData.target }}">{{ Model.ChildNode.Render }}</a>
{% else %}
    <span style="{{ Model.GetStyles }}">
        {{ Model.ChildNode.Render() }}
    </span>
{% endif %}
